name: Deploy Node.js App to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no deploy@76.13.76.219 "
          cd /var/www/colour-generator || exit 1
          git reset --hard
          git pull origin main
          npm install
          pm2 restart color-gen || pm2 start server/server.js --name color-gen
          "
